<ion-header>
  <ion-toolbar color="secondary" >
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title >Jacumo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" >
    <ion-card color="secondary" >
    <ion-card-header>
        <img src="assets\img\Ipchile.jpg"/>
    </ion-card-header>
    <ion-card-content>
        <div class="ion-text-center">
    <h2>
      Bienvenido a Jacumo
    </h2>
        </div>
    </ion-card-content>
  </ion-card>
  <ion-card color="secondary" >
    <ion-card-header>
        <img src="assets\img\Ipchile.jpg"/>
    </ion-card-header>
    <ion-card-content>
        <div class="ion-text-center">
    <h2>
      Bienvenido a Jacumo
    </h2>
        </div>
    </ion-card-content>
  </ion-card>
  <ion-card color="secondary" >
    <ion-card-header>
        <img src="assets\img\Ipchile.jpg"/>
    </ion-card-header>
    <ion-card-content>
        <div class="ion-text-center">
    <h2>
      Bienvenido a Jacumo
    </h2>
        </div>
    </ion-card-content>
  </ion-card>
  <ion-card color="secondary" >
    <ion-card-header>
        <img src="assets\img\Ipchile.jpg"/>
    </ion-card-header>
    <ion-card-content>
        <div class="ion-text-center">
    <h2>
      Bienvenido a Jacumo
    </h2>
        </div>
    </ion-card-content>
  </ion-card>
  <ion-card color="secondary" >
    <ion-card-header>
        <img src="assets\img\Ipchile.jpg"/>
    </ion-card-header>
    <ion-card-content>
        <div class="ion-text-center">
    <h2>
      Bienvenido a Jacumo
    </h2>
        </div>
    </ion-card-content>
  </ion-card>
  <ion-card color="secondary" >
    <ion-card-header>
        <img src="assets\img\Ipchile.jpg"/>
    </ion-card-header>
    <ion-card-content>
        <div class="ion-text-center">
    <h2>
      Bienvenido a Jacumo
    </h2>
        </div>
    </ion-card-content>
  </ion-card>
  <ion-card color="secondary" >
    <ion-card-header>
        <img src="assets\img\Ipchile.jpg"/>
    </ion-card-header>
    <ion-card-content>
        <div class="ion-text-center">
    <h2>
      Bienvenido a Jacumo
    </h2>
        </div>
    </ion-card-content>
  </ion-card>
  <ion-card color="secondary" >
    <ion-card-header>
        <img src="assets\img\Ipchile.jpg"/>
    </ion-card-header>
    <ion-card-content>
        <div class="ion-text-center">
    <h2>
      Bienvenido a Jacumo
    </h2>
        </div>
    </ion-card-content>
  </ion-card>
</ion-content>
